.card__img{
    width: 100%;
    height: 90%;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}

.card{
    border-radius: 10px;
    text-align: center;
    border: 1px solid silver;
}