.title.tuning {
    margin-top: 32px;

}

#tuning.container{
    padding: 0;
}

#tuning {
    width: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    overflow: hidden;
}

.tuning__col1 {
    box-sizing: border-box;
    width: 50%;
    height: auto;
    background: rgba(0, 0, 0, .6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 2%;
}

.tuning__col1 p:last-child {
    color: var(--c-btn);
}

#tuning h3 {
    text-align: center;
    margin-top: 30px;
    font-weight: 400;
    font-size: 35px;
    color: var(--c-btn);
}

.tuning__col1 h4 {
    font-size: 30px;
    color: white;
    font-weight: 300;
    margin: 20px 0 30px 0;
}

.tuning__col1 p {
    font-weight: 300;
    width: 90%;
    font-size: 25px;
    color: white;
    margin-bottom: 30px;
}



#tuning p span {
    border-bottom: 2px solid var(--c-btn);
}

.tuning__col2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: auto;
    background: rgba(0, 0, 0, .6);
}