#card-wrapper {
    margin-top: 32px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
    grid-template-rows: 320px;
    gap: 10px;
}